{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Produit list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Visuel</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prixunitaire</th>
                <th>Stock</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>  <img src="{{ asset(entity.getWebPath()) }}" width="50" height="30"/></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.prixunitaire }}</td>
                <td>{{ entity.stock }}</td>
                <td>{{ entity.statut }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
