{% extends '::base.html.twig' %}

{% block body %}
      
     <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10">
            <div class="w3-row-margin">
                <div class="row">
                   {% for product in products%}
                       {% if products|length == 6 %}
                            <div class="col-sm-4">
                               <div class="w3-card-2">
                               <img src="{{ asset(product.getWebPath())}}" style="width:100%">
                               <div class="w3-padding">
                               <h4>{{ product.nom }} | {{ product.prixUnitaire }} </h4>
                               </div>
                               </div>
                           </div>
                       {% endif %}
                       {% if products|length >= 8 %}
                            <div class="col-sm-3">
                               <div class="w3-card-2">
                               <img src="{{ asset(product.getWebPath())}}" style="width:100%">
                               <div class="w3-padding">
                               <h4>{{ product.nom }} | {{ product.prixUnitaire }} </h4>
                               </div>
                               </div>
                           </div>
                       {% endif %}
                  {% endfor %} 
                </div>
            </div>
        </div>
     </div>
{% endblock %}